@{
    @model Patient;
    @using WebApplication1.Controllers;
    @using Google.Cloud.Firestore;
    @using FirebaseConnector.Controllers
    ViewData["Title"] = "Patient-"+ViewData.Model.name.ToString();
    FireBaseController fb = new FireBaseController();
    List<Dictionary<string,object>> doctors=await fb.getQuery("doctors", new List<string>() { "id", "name" });
    Patient pat = new Patient(ViewData.Model.name.ToString());
    pat.id = ViewData.Model.id;
    PatientController pc = new PatientController();
    DateTime dt = DateTime.Now;
    string today = dt.ToString("f");
    string sched = await pc.viewSchedule(pat);
    List<Dictionary<int,string>>schedulefields = await pc.getSchedule(pat);
    List<Dictionary<int,int>> bills = await pc.getBills(pat);

   
   
}
<style>
    
</style>
<div class="text-center">
    <h1 class="display-4">
        @ViewData.Model.name.ToString()
    </h1>
    



    <h3>Schedule Manager</h3>
    <form asp-controller="Patient" asp-action="updateSchedule">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="table-4">

            @Html.Raw(sched)

        </div>

        <div class="form-group">
            <label asp-for="o_sel" class="control-label"></label>
            <select asp-for="o_sel" asp-items="@Html.GetEnumSelectList<Patient.Options>()">
                <option selected="selected" value="@Patient.Options.Add">Please select</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="appointment" class="control-label"></label>
            <input asp-for="appointment" textmode="Date" value="@today"/>
        </div>
        <div class="form-group">
            
            <select asp-for="doctor_id"  >
            @foreach(Dictionary<string,object> doc in doctors){
             <option value=@doc["id"]>@doc["name"]</option>
            }
            </select>
        </div>
        <div class="form-group">
            <input asp-for="id" type="hidden" value="@ViewData.Model.id" />
            <input asp-for="name" type="hidden" value="@ViewData.Model.name" />
        </div>
        <div class="form-group">
            <label asp-for="sched_id" class="control-label"></label>
            <select asp-for="sched_id">
                @foreach (Dictionary<int,string> sch in schedulefields)
                {
                    <option value=@sch.Keys.First()>@sch[sch.Keys.First()].ToString()</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Update Schedule" class="btn btn-primary" />
        </div>
    </form>
    <h3>Bills </h3>
    @foreach (var bil in bills){
    <form asp-controller="Patient" asp-action="pay">
        <p>
        $@bil.Values.First()
        </p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type ="hidden" asp-for="bill_id" value=@bil.Keys.First()/>
            <input type="submit" value="Pay Bill" class="btn btn-primary" />
        </div>
            <div class="form-group">
                <input asp-for="id" type="hidden" value="@ViewData.Model.id" />
                <input asp-for="name" type="hidden" value="@ViewData.Model.name" />
            </div>
    </form>
    }
    <h3>Update Contact</h3>
    <form asp-controller="Patient" asp-action="updateContact">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="phone" class="control-label"></label>
            <input asp-for="phone" type="text" />
        </div>
        <div class="form-group">
            <input asp-for="id" type="hidden" value="@ViewData.Model.id" />
            <input asp-for="name" type="hidden" value="@ViewData.Model.name.ToString()" />
        </div>
        <div class="form-group">
            <label asp-for="address" class="control-label"></label>
            <input asp-for="address" type="text"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Update Contact Information" class="btn btn-primary" />
        </div>
    </form>
</div>
    <style>
        form{
        background-color:palevioletred;

    }
    </style>

